/* CSS declarations go here */
:root {
    /*
    --p1-color: #ff7f7f;
    --p2-color: #7f7fff;
    --p3-color: #7fff7f;
*/
    --p1-color: #F39F9E;
    --p2-color: #B0B0F0;
    --p3-color: #96E696;

    --p1-highlight: #710C0C;
    --p2-highlight: #074D4D;
    --p3-highlight: #24780B;
}

/* Generics */
button {
    background-color: #26a69a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:disabled {
    background-color: #808080;
}

/* Login screen */
.login-container {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.login-container, 
.login-field,
.login-button
{
    margin: 5px;
}

.login-error {
    color: #ff0000;
}

/* Consent form */
.consent-container {
    max-width: 800px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
}

.consent-container h1 {
    text-align: center;
}

.consent-input {
    text-align: center;
    margin: 10px;
}

.consent-button {
    margin: 5px;
}

/* Puzzle attributes */
.word-search-puzzle-container {
    display: flex;
    margin: 10px;
}

.word-search-line {
}

/* Remove ctrl-F ability */
.word-search-letter:before {
    content: attr(protected-text);
}

.word-search-letter {
    display: inline-block;
    background-color: lightgrey;
    width: 32px;
    height: 32px;
    margin: 2px;
    
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    
    font-family: sans-serif;
    font-size: 24px;
    user-select: none;
}

/* For letters that we've found */
.letter-found-p1 {
    background-color: var(--p1-color);
}

.letter-found-p2 {
    background-color: var(--p2-color);
}

.letter-found-p3 {
    background-color: var(--p3-color);
}

.letter-selected {
    background-color: #ff0000;
}

/* Puzzle status */
.word-search-sidebox {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    /*float: left;*/
    width: 400px;
    /* Put an auto-sized margin on the bottom */
    margin: 0 auto auto 30px;

    font-size: 16px;
    font-family: sans-serif;
}

.word-search-sidebox th,
.word-search-sidebox td {
    padding: 0px;
    text-align: center;
    width: 100px;
}

.word-search-header {
    background-color: lightgrey;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.word-search-word {
    padding: 2px;
}

.word-found {
    text-decoration: line-through;
}

/* Score screen */
.score-screen-container {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.score-screen-status {
    display: inline-block;   
}

.score-screen-reward {
    width: 600px;
    height: 25px;
    margin: 25px auto;
}

.score-option-p1,
.score-option-p2,
.score-option-p3 {
    text-align: center;
    float: left;
    outline: solid 2px;
}

.score-option-p1 {
    background-color: var(--p1-color);
}

.score-option-p2 {
    background-color: var(--p2-color);
}

.score-option-p3 {
    background-color: var(--p3-color);
}

.score-button {
    font-size: 20px;
    margin: 5px;
}

.score-inputs {
    display: inline-flex;
}

.score-input {
    display: block;
    margin: auto 30px 0px;
    width: 50px;
}

.score-input input label {
    display: block;
}

/* Pre- and post-game */
.word-search-text-container {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}