.reward-buttons-container {
    display: inline-flex;
}

.reward-button-wrapper {
    margin: 0px 10px;
}

.reward-button-contents {
    width: 120px;
    display: flex;
}

.reward-button-contents * {
    margin: auto 5px !important;
}

.reward-button-contents p {
    flex: 1;
    text-align: center;
    vertical-align: baseline;
}