.sandbox-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.sandbox-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}